/* [Forms]
-------------------------------------------------------*/
input,
button {
  outline: none;
}

label {
  margin-bottom: 2px;
}

.input-wrap {
  margin-bottom: 10px;

  input {
    display: block;
    width: 100%;
  }

}

.input-control {
  display: block;
  padding: 6px 10px;
  border: solid $c-neutral-1 1px;
}
